
<nav class="nav navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">

      </a>
      <span class="navbar-brand">{{brandName}}</span>
    </div>
    <ul class="nav navbar-nav">

      <li><a routerLink="/heroes">Heroes</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <!--A routerLink attribute is set to "/heroes", the string that the router matches to the route to HeroesComponent. -->
      <!--The routerLink is the selector for the RouterLink directive that turns user clicks into router navigations. -->
      <!--It's another of the public directives in the RouterModule-->

    </ul>
  </div>
</nav>
